<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Loan Web App {% endblock %}</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:600&display=swap" rel="stylesheet">
    
    <script src="jquery-3.4.1.min.js"></script>
</head>
    
<body>
    <style type="text/css">{% block style %}{% endblock %}</style>
    <div class="jumbotron">
        {% block jumbo %}
            <h1>Hello. This is the base version</h1>
        {% endblock %}
    </div>

    {% block body %}
        <h3>Default body text</h3>
    {% endblock %}
</body>